@{
    Layout = null;
}

<div class="fullDiv" ng-if="dataLoading">
    <div class="processDiv">
        <i class="icon-spinner2 spinner" style="font-size:6rem;color:#178076"></i>
    </div>
</div>

<div id="myModal" class="Modal is-hidden is-visuallyHidden" ng-if="dataLoading">
</div>

<div class="page-header page-header-light" ng-cloak>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Issue Character Certificate</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">Issue Character Certificate</h6>
        </div>
        <div class="card-body">
            <div class="form-group row" ng-show="!id">
                <label class="col-form-label col-lg-2">Admission No <span class="text-danger">*</span></label>
                <div class="col-lg-5">
                    <angucomplete-alt id="StudentAutoComplete"
                                      placeholder="Enter Admission No/Student Name"
                                      pause="100"
                                      selected-object="afterStudentSelected"
                                      local-data="AdmissionList"
                                      search-fields="SearchAdmission"
                                      title-field="SearchAdmission"
                                      minlength="1"
                                      input-class="form-control"
                                      match-class="highlight"
                                      input-changed="selectionChanged"
                                      field-required="true"
                                      auto-match="true"
                                      focus-in="focusIn()">
                    </angucomplete-alt>
                </div>
            </div>
            <fieldset class="mb-3" ng-show="SelectedAdmission.AdmissionId >0">
                <legend class="text-uppercase font-size-sm font-weight-bold">Student Detail</legend>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Student Name :</label>
                        <label class="col-form-label col-lg-8 col-8" ng-bind="SelectedAdmission.FullName"></label>
                    </div>

                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Class :</label>
                        <label class="col-form-label col-lg-8 col-8" ng-bind="SelectedAdmission.ClassName"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Section :</label>
                        <label class="col-form-label col-lg-8 col-8" ng-bind="SelectedAdmission.SectionName"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Roll No :</label>
                        <label class="col-form-label col-lg-8 col-8" ng-bind="SelectedAdmission.RollNo"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">House :</label>
                        <label class="col-form-label col-lg-8 col-8" ng-bind="SelectedAdmission.HouseName"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Contact No :</label>
                        <label class="col-form-label col-lg-8 col-8" ng-bind="SelectedAdmission.MobileNo"></label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3" ng-show="SelectedAdmission.AdmissionId >0 || id">
                <legend class="text-uppercase font-size-sm font-weight-bold">Certificate-Form</legend>
                <form novalidate name="formCharacterCertificate">
                    <div class="col-md-6 form-group">
                        <label class="col-sm-4 col-form-label">Student Name <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="text" disabled="disabled" name="StudentName" ng-model="CharacterCertificate.StudentName" ng-class="IsSubmitted ? 'ng-dirty' : ''" class="form-control required" placeholder="Enter Student Name" required autofocus>
                            <span class="text-danger" ng-if="(formCharacterCertificate.StudentName.$dirty || IsSubmitted) && formCharacterCertificate.StudentName.$error.required">Student Name is required!</span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-sm-4 col-form-label">Father Name <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="text" name="FatherName" ng-model="CharacterCertificate.FatherName" ng-class="IsSubmitted ? 'ng-dirty' : ''" class="form-control required" placeholder="Enter Father Name" required autofocus>
                            <span class="text-danger" ng-if="(formCharacterCertificate.FatherName.$dirty || IsSubmitted) && formCharacterCertificate.FatherName.$error.required">Father Name is required!</span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-sm-4 col-form-label">Mother Name <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="text" name="MotherName" ng-model="CharacterCertificate.MotherName" ng-class="IsSubmitted ? 'ng-dirty' : ''" class="form-control required" placeholder="Enter Mother Name" required autofocus>
                            <span class="text-danger" ng-if="(formCharacterCertificate.MotherName.$dirty || IsSubmitted) && formCharacterCertificate.MotherName.$error.required">Mother Name is required!</span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-sm-4 col-form-label">Class Name <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="text" disabled="disabled" name="ClassName" ng-model="CharacterCertificate.ClassName" ng-class="IsSubmitted ? 'ng-dirty' : ''" class="form-control required" placeholder="Enter Class Name" required autofocus>
                            <span class="text-danger" ng-if="(formCharacterCertificate.ClassName.$dirty || IsSubmitted) && formCharacterCertificate.ClassName.$error.required">Class Name is required!</span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-sm-4 col-form-label">DOB <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="date" ng-disabled="SelectedAdmission.DateOfBirth != null" name="DateOfBirth" ng-model="CharacterCertificate.DateOfBirth" ng-class="IsSubmitted ? 'ng-dirty' : ''" class="form-control required" placeholder="Enter Date Of Birth" required autofocus>
                            <span class="text-danger" ng-if="(formCharacterCertificate.DateOfBirth.$dirty || IsSubmitted) && formCharacterCertificate.DateOfBirth.$error.required">Date Of Birth is required!</span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-sm-4 col-form-label">From Date <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="date" name="FromDate" ng-model="CharacterCertificate.FromDate" ng-class="IsSubmitted ? 'ng-dirty' : ''" class="form-control required" placeholder="Enter From Date" required autofocus>
                            <span class="text-danger" ng-if="(formCharacterCertificate.FromDate.$dirty || IsSubmitted) && formCharacterCertificate.FromDate.$error.required">From Date is required!</span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-sm-4 col-form-label">To Date <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="date" name="ToDate" ng-model="CharacterCertificate.ToDate" ng-class="IsSubmitted ? 'ng-dirty' : ''" class="form-control required" placeholder="Enter To Date" required autofocus>
                            <span class="text-danger" ng-if="(formCharacterCertificate.ToDate.$dirty || IsSubmitted) && formCharacterCertificate.ToDate.$error.required">To Date is required!</span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-sm-4 col-form-label">Issue Date <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="date" name="IssueDate" ng-model="CharacterCertificate.IssueDate" ng-class="IsSubmitted ? 'ng-dirty' : ''" class="form-control required" placeholder="Enter Issue Date" required autofocus>
                            <span class="text-danger" ng-if="(formCharacterCertificate.IssueDate.$dirty || IsSubmitted) && formCharacterCertificate.IssueDate.$error.required">Issue Date is required!</span>
                        </div>
                    </div>

                </form>
            </fieldset>
        </div>
        <div class="card-footer text-centre" ng-show="(SelectedAdmission.AdmissionId > 0 || id)">
            <button class="btn btn-primary" ng-click="saveCharacterCertificate()">{{id?'Update':'Submit'}}</button>
        </div>
    </div>
</div>

