@{
    Layout = null;
}
<style>
    th, td {
        white-space: nowrap;
    }
</style>

<div class="fullDiv" ng-if="dataLoading">
    <div class="processDiv">
        <i class="icon-spinner2 spinner" style="font-size:6rem;color:#178076"></i>
    </div>
</div>

<div id="myModal" class="Modal is-hidden is-visuallyHidden" ng-if="dataLoading">
</div>

<div class="page-header page-header-light" ng-cloak>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="#!" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Manage Staff Leave</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>

<div class="content" ng-cloak>
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">Manage Staff Leave</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 form-group">
                    <button class="btn btn-sm btn-primary" ng-if="CanEdit" ng-click="newStaffLeave()"> <i class="fa fa-plus"></i> New Staff Leave</button>
                </div>

            </div>
            <fieldset class="mb-3" style="margin-bottom: 0 !important;">
                <legend class="text-uppercase font-size-sm font-weight-bold">Filter</legend>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label class="col-form-label col-sm-4">Year</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" placeholder="All Year" ng-model="Year" />
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-form-label col-sm-4">Month</label>
                        <div class="col-sm-8">
                            <select ng-model="MonthNo" ng-change="getStaffLeaveList()" ng-options="option.Key as option.Value for option in MonthList" class="form-control">
                                <option value="">--All Month--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-form-label col-sm-3">Staff</label>
                        <div class="col-sm-9">
                            <angucomplete-alt id="SearchStaffAnguComplete"
                                              placeholder="Enter Staff Name/Code"
                                              pause="100"
                                              selected-object="afterStaffSelectedSearch"
                                              local-data="StaffList"
                                              search-fields="StaffName,StaffCode"
                                              title-field="StaffName,StaffCode"
                                              description="DesignationName"
                                              minlength="2"
                                              input-class="form-control"
                                              input-placeholder="All Staff"
                                              match-class="highlight"
                                              input-changed="selectionChanged"
                                              field-required="true"
                                              auto-match="true"
                                              focus-in="focusIn()">
                            </angucomplete-alt>
                        </div>
                    </div>
                    <div class="col-lg-2 form-group">
                        <button class="btn btn-sm btn-success" ng-click="getStaffLeaveList()"> <i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="mb-3" style="margin-bottom: 0 !important;">
                <legend class="text-uppercase font-size-sm font-weight-bold">Staff Leave List</legend>
                <div class="row">
                    <div class="form-group col-sm-6">
                        Display
                        <select aria-controls="basicExample" ng-model="pageSize" class="input-sm form-control selectpicker" style="width:90px;display:initial" ng-options="option as option for option in sizeOptions"></select>
                    </div>
                    <div class="form-group col-sm-6 float-right">
                        <input type="text" class="float-right input-sm form-control" style="width:200px" ng-model="search" placeholder="Search..." />
                    </div>
                    <div class="col-sm-12">
                        <a class="text-link font-weight-bold" ng-click="tablesToExcel(['table_staff_leave_list'],['Staff Leave List'],'StaffLeaveList','StaffLeaveList')">Export To Excel</a>
                    </div>
                    <div class="form-group col-sm-12 table-responsive" id="div_SalaryList">
                        <table class="table table-bordered table-hover" id="table_staff_leave_list">
                            <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th style="cursor: pointer;" ng-click="sort('Year')">Year <span class="fa" ng-show="sortKey=='Year'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                                    <th style="cursor: pointer;" ng-click="sort('MonthNo')">Month <span class="fa" ng-show="sortKey=='MonthNo'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                                    <th style="cursor: pointer;" ng-click="sort('StaffName')">Staff <span class="fa" ng-show="sortKey=='StaffName'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                                    <th style="cursor: pointer;" ng-click="sort('DesignationName')">Designation <span class="fa" ng-show="sortKey=='DesignationName'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                                    <th style="cursor: pointer;" ng-click="sort('LeaveTypeName')">Leave Type <span class="fa" ng-show="sortKey=='LeaveTypeName'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                                    <th style="cursor: pointer;" ng-click="sort('NoOfLeaves')">No Of Leaves <span class="fa" ng-show="sortKey=='NoOfLeaves'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                                    <th style="cursor: pointer;" ng-click="sort('Remarks')">Remarks <span class="fa" ng-show="sortKey=='Remarks'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                                    <th ng-if="CanEdit && !IsExporting" class="not_print">Edit </th>
                                    <th ng-if="CanDelete && !IsExporting" class="not_print">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="StaffLeave in StaffLeaveList|orderBy:sortKey:reverse|filter:search|itemsPerPage:pageSize" current-page="currentPage" ng-model="search">
                                    <td>{{(currentPage*pageSize - (pageSize-1))+ $index}}</td>
                                    <td>{{StaffLeave.Year}}</td>
                                    <td>{{StaffLeave.MonthName}}</td>
                                    <td>{{StaffLeave.StaffName}}</td>
                                    <td>{{StaffLeave.DesignationName}}</td>
                                    <td>{{StaffLeave.LeaveTypeName}}</td>
                                    <td>{{StaffLeave.NoOfLeaves}}</td>
                                    <td>{{StaffLeave.Remarks}}</td>
                                    <td ng-if="CanEdit && !IsExporting" class="not_print"><button class="btn btn-sm btn-primary" ng-click="editStaffLeave(StaffLeave)"><i class="icon-pencil3"></i></button></td>
                                    <td ng-if="CanDelete && !IsExporting" class="not_print"><button class="btn btn-sm btn-danger" ng-click="deleteConfirmation(StaffLeave.StaffLeaveId)"><i class="fa fa-trash"></i></button></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="clearfix col-sm-12">
                        <dir-pagination-controls max-size="pageSize" boundary-links="true" template-url="/Scripts/DirPagination/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </fieldset>
        </div>

        <div id="modal_Student_Charge" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{StaffLeave.StaffLeaveId > 0 ? 'Update' : 'New' }} Staff Leave</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form name="formStaffLeave" novalidate>
                        <div class="modal-body">
                            <div class="row" ng-if="StaffAvailableLeaves.length > 0">
                                <div class="col-sm-12">
                                    <label ng-class="al.NoOfLeaves <0?'text-danger':'text-success'" class="col-form-label form-group col-sm-2" ng-repeat="al in StaffAvailableLeaves">{{al.LeaveTypeName + " : " + al.NoOfLeaves +" Days"}}</label>
                                </div>
                                <hr />
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 col-form-label">Select Staff <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <angucomplete-alt id="StaffAnguComplete"
                                                          placeholder="Enter Staff Name/Code"
                                                          pause="100"
                                                          selected-object="afterStaffSelected"
                                                          local-data="StaffList"
                                                          search-fields="StaffName,DesignationName,StaffCode"
                                                          title-field="StaffName,DesignationName,StaffCode"
                                                          description="ItemTypeName"
                                                          minlength="2"
                                                          input-class="form-control"
                                                          match-class="highlight"
                                                          input-changed="selectionChanged"
                                                          field-required="true"
                                                          auto-match="true"
                                                          focus-in="focusIn()">
                                        </angucomplete-alt>
                                        <select ng-model="StaffLeave.StaffId" ng-hide="true" name="StaffId" ng-options="option.StaffId as option.StaffName for option in StaffList" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus>
                                            <option value="">--Selecty Staff--</option>
                                        </select>
                                        <span class="text-danger" ng-if="(formStaffLeave.StaffId.$dirty || IsSubmitted) && formStaffLeave.StaffId.$error.required">Staff is required!</span>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 col-form-label">LeaveType <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <select ng-model="StaffLeave.LeaveType" name="LeaveType" ng-options="option.Key as option.Value for option in LeaveTypeList" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus>
                                            <option value="">--Selecty Leave Type--</option>
                                        </select>
                                        <span class="text-danger" ng-if="(formStaffLeave.LeaveType.$dirty || IsSubmitted) && formStaffLeave.LeaveType.$error.required">Leave type is required!</span>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 col-form-label">Month <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <select ng-model="StaffLeave.MonthNo" name="MonthNo" ng-options="option.Key as option.Value for option in MonthList" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus>
                                            <option value="">--Selecty Month--</option>
                                        </select>
                                        <span class="text-danger" ng-if="(formStaffLeave.MonthNo.$dirty || IsSubmitted) && formStaffLeave.MonthNo.$error.required">Month is required!</span>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 col-form-label">Year <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="number" ng-minlength="4" ng-maxlength="4" ng-model="StaffLeave.Year" name="Year" placeholder="Enter Year" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus />
                                        <span class="text-danger" ng-if="(formStaffLeave.Year.$dirty || IsSubmitted) && formStaffLeave.Year.$error.required">Year is required!</span>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 col-form-label">No Of Leaves <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="number" ng-model="StaffLeave.NoOfLeaves" name="NoOfLeaves" placeholder="Enter No Of Leaves" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus />
                                        <span class="text-danger" ng-if="(formStaffLeave.NoOfLeaves.$dirty || IsSubmitted) && formStaffLeave.NoOfLeaves.$error.required">No Of Leaves is required!</span>
                                    </div>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label class="col-sm-4 col-form-label">Remarks </label>
                                    <div class="col-sm-8">
                                        <textarea ng-model="StaffLeave.Remarks" name="Remarks" placeholder="Enter Remarks" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-primary" ng-click="saveStaffLeave()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal_confirmation" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Are you sure want to delete this record?</h6>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn bg-primary" ng-click="deleteStaffLeave()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

