@{
    Layout = null;
}

<div class="fullDiv" ng-if="dataLoading">
    <div class="processDiv">
        <i class="icon-spinner2 spinner" style="font-size:6rem;color:#178076"></i>
    </div>
</div>

<div id="myModal" class="Modal is-hidden is-visuallyHidden" ng-if="dataLoading">
</div>

<div class="page-header page-header-light" ng-cloak>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="#!" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Manage Item</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>

<div class="content" ng-cloak>
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">Manage Item</h6>
        </div>
        <div class="card-body">
            <div class="form-group col-sm-6 float-right">
                Display
                <select aria-controls="basicExample" ng-model="pageSize" class="input-sm form-control selectpicker" style="width:90px;display:initial" ng-options="option as option for option in sizeOptions"></select>
                <input type="text" class="float-right input-sm form-control" ng-model="search" style="width:200px;" placeholder="Search..." />
            </div>
            <div class="form-group col-sm-2" ng-if="CanEdit">
                <button class="btn btn-sm btn-primary" ng-click="newExamCenter()" ng-if="CanEdit"> <i class="fa fa-plus"></i> New Exam Center</button>
            </div>
            <div class="col-sm-12">
                <a class="text-link font-weight-bold" ng-click="tablesToExcel(['table_Purchase_list'],['Item List'],'ExamCenterList','ExamCenterList')">Export To Excel</a>
            </div>
            <div class="form-group col-sm-12 table-responsive" id="div_PurchaseList">
                <table class="table table-bordered table-hover" id="table_Purchase_list">
                    <thead>
                        <tr>
                            <th>Sl. No.</th>
                            <th style="cursor: pointer;" ng-click="sort('ExamCenterName')">Exam Center Name <span class="fa" ng-show="sortKey=='ExamCenterName'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                            <th style="cursor: pointer;" ng-click="sort('ReportingTime')">Reporting Time <span class="fa" ng-show="sortKey=='ReportingTime'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                            <th style="cursor: pointer;" ng-click="sort('ExamDate')">Exam Date <span class="fa" ng-show="sortKey=='ExamDate'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                            <th style="cursor: pointer;" ng-click="sort('ExamTime')">Exam Time <span class="fa" ng-show="sortKey=='ExamTime'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                            <th style="cursor: pointer;" ng-click="sort('Status')">Status <span class="fa" ng-show="sortKey=='Status'" ng-class="{'fa-arrow-up':reverse,'fa-arrow-down':!reverse}"></span></th>
                            <th ng-if="CanEdit && !IsExporting">Edit </th>
                            <th ng-if="CanDelete && !IsExporting">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="ExamCenter in ExamCenterList|orderBy:sortKey:reverse|filter:search|itemsPerPage:pageSize" current-page="currentPage" ng-model="search">
                            <td>{{(currentPage*pageSize - (pageSize-1))+ $index}}</td>
                            <td>{{ExamCenter.ExamCenterName}}</td>
                            <td>{{ExamCenter.ReportingTime}}</td>
                            <td>{{ExamCenter.ExamDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{ExamCenter.ExamTime}}</td>
                            <td><a ng-class="ExamCenter.Status == 1 ? 'badge bg-success-400' : 'badge bg-danger'"> {{StatusDetail[ExamCenter.Status]}}</a></td>
                            <td ng-if="CanEdit && !IsExporting"><button class="btn btn-sm btn-primary" ng-click="editExamCenter(ExamCenter)"><i class="icon-pencil3"></i></button></td>
                            <td ng-if="CanDelete && !IsExporting"><button class="btn btn-sm btn-danger" ng-click="deleteConfirmation(ExamCenter.ExamCenterId)"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix">
                <dir-pagination-controls max-size="pageSize" boundary-links="true" template-url="/Scripts/DirPagination/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>

        <div id="modal_Student_Charge" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ExamCenter.ExamCenterId > 0 ? 'Update' : 'New' }} Item</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form name="formExamCenter" novalidate>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Center Name <span class="text-danger">*</span></label>
                                    <input type="text" ng-model="ExamCenter.ExamCenterName" name="ExamCenterName" placeholder="Enter Exam Center Name" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus />
                                    <span class="text-danger" ng-if="(formExamCenter.ExamCenterName.$dirty || IsSubmitted) && formExamCenter.ExamCenterName.$error.required">Exam Center Name is required!</span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Exam Date <span class="text-danger">*</span></label>
                                    <input type="date" ng-model="ExamCenter.ExamDate" name="ExamDate" placeholder="Enter Exam ExamDate" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus />
                                    <span class="text-danger" ng-if="(formExamCenter.ExamDate.$dirty || IsSubmitted) && formExamCenter.ExamDate.$error.required">Exam Date is required!</span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Exam Time <span class="text-danger">*</span></label>
                                    <input type="text" ng-model="ExamCenter.ExamTime" name="ExamTime" placeholder="Enter Exam ExamTime" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus />
                                    <span class="text-danger" ng-if="(formExamCenter.ExamTime.$dirty || IsSubmitted) && formExamCenter.ExamTime.$error.required">Exam Time is required!</span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Reporting Time <span class="text-danger">*</span></label>
                                    <input type="text" ng-model="ExamCenter.ReportingTime" name="ReportingTime" placeholder="Enter Exam ReportingTime" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus />
                                    <span class="text-danger" ng-if="(formExamCenter.ReportingTime.$dirty || IsSubmitted) && formExamCenter.ReportingTime.$error.required">Reporting Time is required!</span>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label>Status <span class="text-danger">*</span></label>
                                    <select ng-model="ExamCenter.Status" name="Status" ng-options="option.Key as option.Value for option in StatusList" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus>
                                        <option value="">--Select Status--</option>
                                    </select>
                                    <span class="text-danger" ng-if="(formExamCenter.Status.$dirty || IsSubmitted) && formExamCenter.Status.$error.required">Status is required!</span>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-primary" ng-click="saveExamCenter()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal_confirmation" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Are you sure want to delete this record?</h6>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn bg-primary" ng-click="deleteExamCenter()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

