@{
    Layout = null;
}

<div class="fullDiv" ng-if="dataLoading">
    <div class="processDiv">
        <i class="icon-spinner2 spinner" style="font-size:6rem;color:#178076"></i>
    </div>
</div>

<div id="myModal" class="Modal is-hidden is-visuallyHidden" ng-if="dataLoading">
</div>

<div class="page-header page-header-light" ng-cloak>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="#!" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Manage Device</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>

<div class="content" ng-cloak>
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">Manage Device</h6>
        </div>
        <div class="card-body">
            <div class="form-group col-sm-6 float-right">
                <input type="text" class="float-right input-sm form-control" ng-model="search" style="width:200px;" placeholder="Search..." />
            </div>
            <div class="form-group col-sm-6" ng-if="CanEdit">
                <button class="btn btn-sm btn-primary" ng-click="newDevice()"> <i class="fa fa-plus"></i> New Device</button>
                @*Display
                    <select aria-controls="basicExample" ng-model="pageSize" class="input-sm form-control selectpicker" style="width:90px;display:initial" ng-options="option as option for option in sizeOptions"></select>
                    Records Per Page*@
            </div>
            <div class="form-group col-sm-12 table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Sl. No.</th>
                            <th style="cursor: pointer;" ng-click="sort('DeviceName')"><b>Device Name</b> <span class="glyphicon sort-icon" ng-show="sortKey=='DeviceName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th style="cursor: pointer;" ng-click="sort('DeviceNo')"><b>Device No</b> <span class="glyphicon sort-icon" ng-show="sortKey=='DeviceNo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th style="cursor: pointer;" ng-click="sort('DeviceSerailNo')"><b>Serail No</b> <span class="glyphicon sort-icon" ng-show="sortKey=='DeviceSerailNo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th style="cursor: pointer;" ng-click="sort('DeviceType')"><b>Device Type</b> <span class="glyphicon sort-icon" ng-show="sortKey=='DeviceType'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th style="cursor: pointer;" ng-click="sort('DeviceStatus')"><b>Device Status</b> <span class="glyphicon sort-icon" ng-show="sortKey=='DeviceStatus'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th ng-if="CanEdit">Edit </th>
                            <th ng-if="CanDelete">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="model in DeviceList|orderBy:sortKey:reverse|filter:search" ng-model="search">
                            <td>{{$index + 1}}</td>
                            <td>{{model.DeviceName}}</td>
                            <td>{{model.DeviceNo}}</td>
                            <td>{{model.DeviceSerailNo}}</td>
                            <td>{{model.DeviceTypeName}}</td>
                            <td><a ng-class="model.DeviceStatus == 1 ? 'badge bg-success-400' : 'badge bg-danger'"> {{StatusDetail[model.DeviceStatus]}}</a></td>
                            <td ng-if="CanEdit"><button class="btn btn-sm btn-primary" ng-click="editDevice(model)"><i class="icon-pencil3"></i></button></td>
                            <td ng-if="CanDelete"><button class="btn btn-sm btn-danger" ng-click="deleteConfirmation(model.DeviceId)"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="modal_Student_Charge" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{Device.DeviceId > 0 ? 'Update' : 'New' }} Device</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form name="formDevice" novalidate>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label class="col-sm-4 col-form-label">Device Name <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input ng-model="Device.DeviceName" name="DeviceName" class="form-control" placeholder="Enter Device Name" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus />
                                        <span class="text-danger" ng-if="(formDevice.DeviceName.$dirty || IsSubmitted) && formDevice.DeviceName.$error.required">Device Name is required!</span>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-sm-4 col-form-label">Device No <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input ng-model="Device.DeviceNo" name="DeviceNo" class="form-control" placeholder="Enter Device No" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus />
                                        <span class="text-danger" ng-if="(formDevice.DeviceNo.$dirty || IsSubmitted) && formDevice.DeviceNo.$error.required">Device No is required!</span>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-sm-4 col-form-label">Device Serail No <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input ng-model="Device.DeviceSerailNo" name="DeviceSerailNo" class="form-control" placeholder="Enter Device Serail No" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus />
                                        <span class="text-danger" ng-if="(formDevice.DeviceSerailNo.$dirty || IsSubmitted) && formDevice.DeviceSerailNo.$error.required">Device Serail No is required!</span>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-sm-4 col-form-label">Device Type <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <select ng-model="Device.DeviceType" name="DeviceType" ng-options="option.Key as option.Value for option in DeviceTypeList" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus>
                                            <option value="">--Select Device Type--</option>
                                        </select>
                                        <span class="text-danger" ng-if="(formDevice.DeviceType.$dirty || IsSubmitted) && formDevice.DeviceType.$error.required">Device Type is required!</span>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-sm-4 col-form-label">Status <span class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <select ng-model="Device.DeviceStatus" name="DeviceStatus" ng-options="option.Key as option.Value for option in DeviceStatusList" class="form-control" ng-class="IsSubmitted ? 'ng-dirty' : ''" required autofocus>
                                            <option value="">--Select Status--</option>
                                        </select>
                                        <span class="text-danger" ng-if="(formDevice.DeviceStatus.$dirty || IsSubmitted) && formDevice.DeviceStatus.$error.required">Status is required!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-primary" ng-click="saveDevice()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal_confirmation" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Are you sure want to delete this record?</h6>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn bg-primary" ng-click="deleteDevice()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

