@{
    Layout = null;
}

<div class="fullDiv" ng-if="dataLoading">
    <div class="processDiv">
        <i class="icon-spinner2 spinner" style="font-size:6rem;color:#178076"></i>
    </div>
</div>

<div id="myModal" class="Modal is-hidden is-visuallyHidden" ng-if="dataLoading">
</div>

<div class="page-header page-header-light" ng-cloak>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="#!" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a class="breadcrumb-item"> Student</a>
                <span class="breadcrumb-item active">Online Admission</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>

<div class="content" ng-cloak>
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">Online Admission</h6>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-8">
                    <label class="col-form-label  col-lg-3">Registration No <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <angucomplete-alt id="StudentAutoComplete"
                                          placeholder="Enter Registration No/Student Name"
                                          pause="100"
                                          selected-object="afterStudentSelected"
                                          local-data="RegistrationOnlineList"
                                          search-fields="SearchRegistration"
                                          title-field="SearchRegistration"
                                          minlength="1"
                                          input-class="form-control"
                                          match-class="highlight"
                                          input-changed="selectionChanged"
                                          field-required="true"
                                          auto-match="true"
                                          focus-in="focusIn()">
                        </angucomplete-alt>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <div ng-if="SelectedRegistrationOnline.RegistrationOnlineId > 0">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Full Name :</label>
                        <label class="col-lg-8 col-8" ng-bind="SelectedRegistrationOnline.StudentName"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Form :</label>
                        <label class="col-lg-8 col-8" ng-bind="SelectedRegistrationOnline.PhaseName"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Registration No :</label>
                        <label class="col-lg-8 col-8" ng-bind="SelectedRegistrationOnline.RegistrationNo"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Registration Date :</label>
                        <label class="col-lg-8 col-8">{{SelectedRegistrationOnline.RegistrationDate | date:'dd-MM-yyyy'}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Session :</label>
                        <label class="col-lg-8 col-8" ng-bind="SelectedRegistrationOnline.SessionName"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Class :</label>
                        <label class="col-lg-8 col-8" ng-bind="SelectedRegistrationOnline.ClassName2"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Stream Type :</label>
                        <label class="col-lg-8 col-8" ng-bind="SelectedRegistrationOnline.ClassStreamTypeName"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Subject Option 1 :</label>
                        <label class="col-lg-8 col-8" ng-bind="SelectedRegistrationOnline.SubjectOptionOneName"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Subject Option 2 :</label>
                        <label class="col-lg-8 col-8" ng-bind="SelectedRegistrationOnline.SubjectOptionTwoName"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Date Of Birth :</label>
                        <label class="col-lg-8 col-8">{{SelectedRegistrationOnline.SubjectOptionTwoName | date:'dd-MM-yyyy'}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Gender :</label>
                        <label class="col-lg-8 col-8">{{SelectedRegistrationOnline.GenderName}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Category :</label>
                        <label class="col-lg-8 col-8">{{SelectedRegistrationOnline.CategoryName}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Email :</label>
                        <label class="col-lg-8 col-8">{{SelectedRegistrationOnline.EmailId}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Mobile No :</label>
                        <label class="col-lg-8 col-8">{{SelectedRegistrationOnline.MobileNo}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Previous School :</label>
                        <label class="col-lg-8 col-8">{{SelectedRegistrationOnline.PreviousSchoolName}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Father's Name :</label>
                        <label class="col-lg-8 col-8">{{SelectedRegistrationOnline.FathersName}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-lg-4 col-4 font-weight-bold">Father's Occupation :</label>
                        <label class="col-lg-8 col-8">{{SelectedRegistrationOnline.FathersOccupation}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-centre" ng-if="SelectedRegistrationOnline.RegistrationOnlineId > 0">
            <button class="btn btn-primary" ng-click="newAdmission()">Take Admission</button>
        </div>
    </div>
</div>

