
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintCashbook</title>
</head>
<body>
    <div style="text-align:center"> 
        @ViewBag.Message
    </div>
</body>
</html>
