
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvalidUrl</title>
</head>
<body>
    <div style="text-align:center;padding-top:60px;padding-bottom:60px">
        <img src="~/Content/Images/error-404.png" />
    </div>
</body>
</html>
